@page
@model Pokedex.Pages.Pokemon.AllModel
@{
    ViewData["Title"] = "All";
}

<h1>All Pokemon</h1>

<table class="table table-active">

    @foreach (var result in Model.Pokemon)
    {
        <tr>
            <td><img src="@result.sprites.front_default"/></td>
            <td><a asp-page="./Details" asp-route-id="@result.id">@result.name</a></td>
        </tr>
    }
</table>
