@page
@model Pokedex.Pages.Pokemon.AllModel
@{
    ViewData["Title"] = "All";
}

<h1>All Pokemon</h1>

<table class="table table-active">

    @foreach (var pokemon in Model.Pokemon)
    {
        <partial name="_PokemonCard" model="pokemon" />
    }
</table>
